<div id="about" class="container container-about">
    <div class="about row">
        <div class="animated fadeInRight slow col-md-6 container-about--info">
            <div class="card-box">
                <header>
                    <img class="logo-about" src="../../assets/finnchat.png" alt=""> Conheça <strong>Finn</strong> o Chatbot<br/>
                </header>
                <main>Este chatbot foi criado usando a API do Watson, nodeJS no backend, e o mais novo Angular 7 em toda a sua glória. Foi projetado para interagir com o usuário e dar respostas honestas e engraçadas sobre Lucas, o criador.
                </main>

            </div>
        </div>
        <div class="animated fadeInLeft slow col-md-6 container-about--info">
            <div class="card-box">
                <header>
                    <img id="logo-home" class="logo-about" src="../../assets/foto.jpg" alt=""> Conheça <strong>Lucas</strong> o Criador<br/></header>
                <main>Lucas, o criador, é um estudante de ciências da computação na Universidade Federal da Bahia. Interessado em Jogos e Desenvolver. Usuário ativo de cursos online em Java e Design Frontend. Fala Inglês e um pouco de Alemão.
                </main>
                <footer class="redes-sociais row pt-3">
                    <a href="http://www.facebook.com/lucas.mascarenhas.338"> <i id="face" class="animated lightSpeedIn delay-3s col-1 fab fa-facebook-square"></i></a>
                   <a href="http://github.com/lucasmasccc"> <i id="git" class="animated lightSpeedIn delay-3s col-1 fab fa-github"></i></a>
                   <a href="http://steamcommunity.com/id/Jecyka/"> <i id="steam" class="animated lightSpeedIn delay-3s col-1 fab fa-steam"></i></a>
                   
                </footer>
            </div>
        </div>
    </div>
</div>
<div class="footer">
</div>