<div id="about" class="container container-about">
    <div class="about row">
        <div class="animated fadeInRight slow col-md-6 container-about--info">
            <div class="card-box">
                <header>
                    <img class="logo-about" src="../../assets/finnchat.png" alt=""> Meet <strong>Finn</strong> the Chatbot<br/>
                </header>
                <main>This chatbot was created using the Watson API, nodeJS in the backend, and the newest Angular 7 in all its glory. It was designed to interact with the user and give honest and yet funny answers about Lucas, the creator.
                </main>

            </div>
        </div>
        <div class="animated fadeInLeft slow col-md-6 container-about--info">
            <div class="card-box">
                <header>
                    <img id="logo-home" class="logo-about" src="../../assets/foto.jpg" alt=""> Meet <strong>Lucas</strong> the Creator<br/></header>
                <main>Lucas, the creator, is a computer science student of Universidade Federal da Bahia. Interested in Games and Developing. Active user of online courses in Java and Frontend Design. Can speak Portuguese, English and a little German.
                </main>
                <footer class="redes-sociais row pt-3">
                    <i id="face" class="animated lightSpeedIn delay-3s col-1 fab fa-facebook-square"></i>
                    <i id="git" class="animated lightSpeedIn delay-3s col-1 fab fa-github"></i>
                    <i id="steam" class="animated lightSpeedIn delay-3s col-1 fab fa-steam"></i>
                    <i id="twitter" class="animated lightSpeedIn delay-3s col-1 fab fa-twitter"></i>
                </footer>
            </div>
        </div>
    </div>
</div>
<div class="footer">
</div>